/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  .mnu {
    width: 88%;
  }
  
  .mnu ul li a {
    font-size: 1.4rem;
  }

  .section_menu .logo_block img {
    width: 130px;
  }

  .header_fixed .mnu {
  width: 72%;
}

  .stories .owl-carousel .owl-nav.disabled {
    display: none;
  }

  .teacher .owl-carousel .owl-nav.disabled{
  display: none;
}

  .mnu_child {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section_logo{
    height: auto;
  }

  .logo_block img {
    width: 100%;
    } 
  .section_logo .reg_block ul li a {
    font-size: 1.4rem;
    }
  .section_logo .reg_block ul li {
    padding: 0 10px;
    }
  .section_menu {
    height: auto;
  }

  .mnu ul li {
      margin: 13px 3px;
  }

  .mnu ul .mnu_icon span{
    top: 10px;
  }

  .slide_block_text h3 {
    font-size: 4.6rem;
  }

  .slide_block_text p {
    font-size: 1.6rem;
  }
  .slide_block_text span a {
    font-size: 1.6rem;
  }
  .about_img_block {
    text-align: center;
    padding-top: 30px;
  }

  .about_tabs ul li {
    width: 140px;
    margin: 30px 7px;
  }

  .about_tabs ul li a {
    font-size: 1.0rem;
  }

  .about_tabs_content .about_img_content {
    text-align: center;
    margin: 20px auto;
    float: none;
  }

  .index_timer {
    font-size: 6rem;
  }

  .index_timer .time {
    width: 24%;
    padding: 0;
    margin: 0;
}

.rates .popular_block {
  height: auto;
  padding-bottom: 45px;
}

.rates_block .rates_price p {
  font-size: 6rem;
}

.rates_block {
  padding: 30px 15px 30px 15px;
}

.index_timer .dots::before {
    content: ':';
    position: absolute;
    left: -6%;
    top: -7px;
}

.index_timer .time span{
    font-size: 1.6rem;
}

.timer .date_event {
  padding: 3px 0;
}

.timer .date_event p {
  font-size: 5.4rem;
}

.timer .date_event span {
  font-size: 1.4rem;
}

.view_events img {
  left: auto;
}

.view_events p {
  line-height: 90px;
} 

.news_describe {
  margin: 0 5px 40px 100px;
}

.news_describe .news_img {
  max-height: none;
}

.news_describe .news_img img{
  width: 100%;
}

.mb_50 {
  margin-bottom: 0;
}

#contact .section-title{
  text-align: center;
  padding-top: 45px;
}

.location_block {
  padding: 20px;
}

.location_info{
  margin-left: 0;
  left: 0
}

.footer_instagram ul li img {
  width: 100%;
}

  }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  .sidebar_blog_padding {
    padding-top: 0;
  }

.about_stories .owl-carousel .owl-nav.disabled, .about_teacher .owl-carousel .owl-nav.disabled {
  display: none;
}

.about_page_img {
  padding-top: 20px;
}

.contact_v1 {
  padding: 50px 0;
}

.contact_v2 {
  padding: 0px 0 250px 0;
}

.mnu,
.header_fixed .mnu {
  width: 100%;
  position: relative;
}

.mnu_fixed {
  position: relative;
  top: 0 !important;
  max-height: none;
}

.mnu_mobile {

}

.mnu_mobile .input_search,
.mnu_mobile .icon_shop{
  display: inline-block;
  float: right;
}

.input_search {
  position: relative;
  top: auto;
  right: auto;
  padding: 11px 0px;
}

.input_search input {
  width: 270px;
}

.input_search .btnsearch {
  display: block;
  top: 19px;
  right: 20px;
  line-height: 1;
}

.section_menu .logo_block img {
  display: none;
}

.mnu ul .mnu_icon:first-child {
  padding-left: 0;
}

.rates_block {
  margin-top: 0;
  padding: 50px 100px;
  background: none;
}

.text_block {
  background: #ffffdd;
padding: 40px 50px;
border-radius: 10px;
}

.rates .popular_block {
  box-shadow: none;
  background: transparent;
  height: auto;
  margin-top: 0;
}

.rates .popular_block .text_block {
  background: #fff;
  position: relative;
  padding: 40px 50px;
  border-radius: 10px;
}

.about_counter p span {
  font-size: 6rem;
}

.sidebar {
  padding-top: 35px;
  margin-top: 35px;
  border-top: 1px solid #e2e2e2;
  padding-left: 0;
}

.leave_reply .m_input {
    margin: 0 3%;
}

.sidebar .info_block .date {
  text-align: left;
  padding: 10px 15px 20px 15px;
}

.grids_block {
  margin-top: 50px;
}

.contact_v1 {
  padding: 0 0 50px 0;
}

.price_table_a .pb_50 {
  padding-bottom: 0;
}

.price_table_a .price_table {
  margin: 50px 100px;
}

.price_table .header_price .price {
  font-size: 4.5rem;
}

table .price_button a {
  padding: 5px 21px;
}

.lion_img {
    position: relative;
    left: auto;
    bottom: -14px;
    margin-bottom: 0;
}

.lion_img img {
    width: 250px;
}

.most_popular {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.reviews_content .filter {
  float: none;
  text-align: center;
  display: block;
}

.reviews_content .dropdown {
  float: none;
  display: block;
  text-align: center;
  margin-top: 30px;
}

.reviews_content .reviews_show {
  left: auto;
}

.service_icons .left_block {
  position: relative;
  top: auto;
  left: auto;
  text-align: center;
  padding-bottom: 20px;
}

.service_icons .right_block {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.best_kids_read_more {
  margin: 30px 0 50px 0;
}

.service_activity_v2 .activity_block {
  margin-bottom: 50px;
}

.service_activity_v2 .activity_bottom {
  padding: 30px 0 20px 0;
}

.best_kids_v2 .best_kids_block {
  margin-bottom: 30px;
  padding: 30px 30px 10px 30px;
}

.service_activity_v3 .service_activity_block {
  margin-bottom: 30px;
}

.service_activity_v3 .pb_30 {
  padding-bottom: 0;
}

.shop_page_item .shop_item {
  margin-top: 30px;
}

.teacher_block img {
  max-height: inherit;
}

.teacher_page .sidebar {
  padding-bottom: 50px;
}

.nav_tabs_v1 ul li, .nav_tabs_v2 ul li, .ui_nav_tabs_v2 ul li {
  margin: 10px 1px;
}

.ui_normal ul::after, .ui_hover ul::after, .ui_active ul::after {
    display: none;
}

.ui_block {
  margin-top: 0;
}

.shop_sorting .dropdown-menu, .reviews_content .dropdown-menu {
    right: 50%;
    margin: 10px -130px 10px 0;
  }

  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

.leave_reply .form-group {
  width: 100%;
}

.leave_reply .m_form-group,
.leave_reply .m_input {
  margin: 0;
}

  footer {
    padding-top: 50px;
  }

  footer h3 {
    padding-top: 50px;
  }

  .footer_instagram ul li {
    padding: 10px 15px;
  }

  .index_timer {
  font-size: 6rem;
  }

  .index_timer .time span{
    font-size: 1.6rem;
}

.lion_img {
    position: relative;
    left: auto;
    bottom: -5px;
    margin-bottom: 0;
}

  .lion_img img {
    width: auto;
  }

  .color-sw-open {
      top: 20px;
    }
   }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px) {

.shop_sorting .dropdown-menu, .reviews_content .dropdown-menu {
  margin: 10px -91px 10px 0;
}

.shop_nav {
  padding: 10px 0;
}

.leave_reply .messegeResult button {
  bottom: 0;
}

.mfp-content {
  vertical-align: inherit;
}

.gallery_popup img.mfp-img {
  width: 100%;
  max-width: 100%;
}

.messegeResult button {
  position: relative;
  margin: 25px auto 0 auto;
  right: 0;
}

.footer_mail .messegeResult button {
  margin: 4px;
  position: absolute;
}

.about_tabs_content .button {
  margin: 20px auto;
  display: block;
}

#slider {
  padding-bottom: 450px;
}

.sp-mask {
  overflow: visible;
}

.slide_block_text h3 {
  font-size: 4rem;
}

.slide_block_text {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 20px 24px 100px 20px;
  border-radius: 0;
  bottom: 0 !important;
  left: 0 !important
}

.slide_block_text span {
  bottom: 37px;
  margin-left: -97px;
}

.mnu_mobile .input_search {
  float: none;
}

.icon_shop {
  padding: 11px 40px 11px 0;
}

.input_search input {
  width: 200px;
}

.header_fixed .mnu {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.toggle-mnu {
  right: 0;
}

.about_text_block {
  display: block;
}

.about_img_block {
  margin-bottom: 30px;
}

.about_img_block img {
  max-width: none;
  max-height: none;
  width: 100%;
}

.about_tabs {
  padding-top: 5px;
}

.about_tabs ul li {
  width: 90%;
  margin: 5px 7px;
}

.about_tabs ul li:first-child {
  margin-left: 5px;
}

.about_tabs_content {
  padding: 0;
}

.about_tabs_content .about_img_content {
  width: 100%;
}

.about_tabs_content button {
  width: 100%;
  margin-bottom: 20px;
}

.filter li {
  width: 49%;
}

.filter li a {
  line-height: 3;
}

.teacher .teacher_block .teacher_avatar {
  position: relative;
  width: 100%;
  height: 300px;
  left: 0;
}

.teacher .teacher_block .teacher_about {
  margin-left: 0;
}

.index_timer {
font-size: 4rem;
}

.index_timer .dots::before {
    top: -4px;
}

.index_timer .time span{
  font-size: 1.2rem;
}

.rates_block {
  padding: 0 15px;
}

.rates_block ul li i {
  top: 9px;
  margin-top: 0;
}

.popular_block {
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.rates .section-title {
  margin-bottom: 20px;
}

.news_describe {
  margin: 0;
}

.news_describe .news_img {
  height: 178px;
  padding-left: 100px;
}

.news_describe .news_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mb_40 {
  margin-bottom: 40px;
}

.news_date {
  border-radius: 5px 0 0 0;
}

.google_maps #map {
  height: 800px;
}

.location_info {
  top: 100px;
}

.mb_15 {
  padding: 10px 15px;
}

.footer_instagram ul li {
  padding: 5px;
}

.panel-contact .panel-title a {
  padding: 15px 25px 15px 15px;
}

.panel-heading a.collapsed::after,
.panel-contact .actives a::after,
.panel-contact .panel-heading a::after {
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -12px;
}

.stories .all_color {
  padding: 60px 15px 0 15px;
}

.stories .all_color h4 {
  padding: 10px 0 10px 0;
}

.section_logo .logo_block {
  margin: 0 auto;
}

.section_logo .reg_block ul {
    list-style-type: none;
    text-align: center;
    line-height: 2;
}

.text_block {
  padding: 40px 15px;
}

.rates .popular_block .text_block {
  padding: 40px 15px;
}

.p_block {
  padding-top: 50px;
}

.about_counter .number_count {
  padding: 10px 0;
}

.blog_block {
  margin-bottom: 50px;
}

.blog_link {
  text-align: center;
}

.blog_link .button {
  display: inline-block;
  margin-top: 20px;
}

.blog_share {
  float: none;
}

.blog_info .date {
  text-align: left;
}

.blog_info .pr_0 {
  padding-right: 15px;
}

.pr_0 {
  padding-right: 15px;
}

.prpl_0 {
  padding-left: 15px;
  padding-right: 15px;
}

.pl_0 {
  padding-left: 15px;
}

.blog_info .date{
    padding: 9px 20px;
}

.blog_nav .pagination > li > a, .blog_nav .pagination > li > span {
    width: 34px;
    padding: 2px 10px;
    line-height: normal;
    }

.content .f_left img {
  width: 100%;
}

.author_comment {
  margin-top: 70px;
}

.author_comment .block_comment {
  padding: 120px 15px 30px 15px;
}

.author_comment .head_comment {
  position: inherit;
}

.author_comment .social_icon {
  right: 18px;
  top: 43px;
  margin-top: 0;
}

.block_news {
  margin-bottom: 50px;
}

.related_posts {
  margin-bottom: 0;
}

.leave_reply {
  padding: 40px 0;
}

.leave_reply input {
  width: 100%;
}

.leave_reply .m_input {
  margin: 20px 0;
}

.block_comment .replay {
    right: 50%;
    top: auto;
    bottom: 20px;
    width: 114px;
    margin-right: -57px;
}

.level_one .block_comment .head_comment {
  position: inherit;
}

.reviews .level_one .block_comment {
  padding: 15px; 
}

.reviews .level_one .avatar img {
  top: 15px;
  left: 15px;
}

.reviews .level_one .block_comment .head_comment {
  padding-bottom: 30px;
  position: relative;
}

.reviews .block_comment .replay {
  bottom: 0;
  top: auto;
  left: 80px;
  right: auto;
  margin: 0;
}

.item_description .item_rate {
  padding-bottom: 0;
}

.level_one {
    padding: 0px;
}

.level_one .comment_content {
  padding: 40px 30px 80px 10px;
}

.level_one .level_two {
  margin: 0;
  padding-top: 0;
}

.level_one .level_two .comment_title,
.level_one .comment_title {
  padding-left: 80px;
}

.level_one .avatar img,
.level_one .level_two .avatar img {
  left: auto;
  top: 30px;
}

.contact_block .social_icon li i {
  width: 40px;
  line-height: 40px;
}

.contact_block {
  padding-bottom: 30px;
}

.contact_link .pb_50 {
  padding: 0;
}

.contact_block ul li p {
  padding-right: 0;
}

.working_hours {
    padding: 40px 25px;
  }

.working_hours ul li:last-child {
  text-align: right;
}

.send_us .leave_reply {
  padding: 40px 15px;
}

#register_timer {
  font-size: 3.5rem;
}

#register_timer .time {
  margin: 0;
  width: 24%;
}

#register_timer .time span {
  font-size: 1.2rem;
}

#register_timer .dots::before {
    content: ':';
    position: absolute;
    left: -5px;
    top: -3px;
}

.dot .section-title::after {
  right: 15px;
  margin: 0;
}

.dot .section-title::before {
  left: 15px;
  margin: 0;
}

.sidebar .info_block .date {
  text-align: center;
}

.events_one_block .tac {
  text-align: inherit;
}

.events_one_block_left {
  left: auto;
  top: auto;
  width: auto;
  position: relative;
}

.events_one_top {
  width: 33%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 0;
}

.events_one_center,
.events_one_bottom {
  border: none;
  margin-left: 33%;
  border-radius: 0;
}

.events_one_top, .events_one_center, .events_one_bottom {
  padding: 13px 10px;
}

.ml_250{
  margin: 0;
}

.date_events_right {
  padding: 10px 10px 10px 10px;
}

.events_header .events_button ul li {
  margin: 20px 0 0 0;
  width: 100%;
}

.faq_page .panel-contact .panel-title a {
    padding: 20px 40px 20px 15px;
}

.faq_page .panel-contact .panel-heading a::after {
    right: 7px;
  }

.scrollup {
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
  }

.authorization_page {
  padding: 50px 0 250px 0;
}

.authorization_page form .reg_box input {
  width: 100%;
}

.price_table_a .price_table {
  margin: 50px 0;
}

table {
  overflow-x: auto;
  display: block;
}

.lion_img img {
    width: auto;
}

.shop_sorting .btn-default {
  width: 180px;
}

.author_block {
    position: relative;
    left: auto;
    top: auto;
    padding: 20px 15px;
    bottom: auto;
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
}

.comment_green .comment_block {
    border: 2px solid #b3ed7b;
}

.comment_red .comment_block {
    border: 2px solid #e65874;
}

.comment_block {
    padding: 20px 20px 0px 20px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comment_block .comment_date {
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 30px;
}

.comment_date .button {
    width: 196px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -98px;
}

.comment_date ul {
    position: absolute;
    right: 0;
    top: 0;
}

.comment_date ul, .comment_date .button {
  float: none;
}

.comment_date ul li:last-child {
  padding-right: 0;
}

.comment_block .comment_title p::after {
    display: none;
}

.filter .active a, .filter .active a:focus {
  padding: 7px 20px;  
}

.filter li a {
  padding: 7px 20px;
}

.answer_comment .answer_block {
  padding: 20px 0px 20px 0px;
}

.answer_comment .answer_author {
  padding-left: 100px;
}

.service_icons .right_block p {
  padding-bottom: 20px;
}

.service_icons {
  padding: 40px 0;
}

.service_activity_v1 {
  padding-top: 40px;
}

.service_education_v1 .about_tabs_content .about_img_content {
    width: 260px;
    height: 260px;
    }

.service_activity_v3 .left_block {
  position: relative;
  left: auto;
  top: auto;
  padding-bottom: 20px;
  text-align: center;
}

.service_activity_v3 .right_block {
  padding-left: 10px;
}

.service_activity_v3 .service_activity_block {
  padding: 20px;
  text-align: center;
}

.shop-cart, .cart_total {
  overflow-x: auto;
}

.shop-cart .table-data-row:last-child td:first-child {
  padding: 30px 0 !important;
  text-align: center;
}

.shop-cart .table-data-row .input_coupon {
  float: none;
  width: 100%;
  display: block;
}

.shop-cart .table-data-row .update_btn {
  display: inline-block;
  float: none;
  margin-top: 20px;
}

.shop-cart .table-heading-row th {
  padding: 10px 20px;
}

.shop-cart .table-data-row ul li {
  text-align: center;
}

.shop-cart .table-data-row ul li img {
  margin-left: 20px;
}

.shop-cart .table-data-row ul li a {
  line-height: 1;
}

.shop-cart .table-data-row td:first-child {
  padding-left: 10px;
}

.cart_total .checkout_btn a {
  padding: 13px 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.shop_item {
  margin-bottom: 30px;
}

.shop_block .pb_30 {
  padding-bottom: 0;
}

.single_img_big img {
  width: 100%;
  height: auto;
}

.item_buy .social_icon {
  position: relative;
  right: auto;
  top: auto;
  margin-top: 15px;
}

.item_description {
  padding: 15px;
}

.item_description .nav-tabs > li {
  padding-right: 0;
}

.item_description .nav-tabs > li > a {
  padding: 5px 10px;
}

.shop_block_list .shop_block_img {
  position: relative;
  width: 220px;
  height: 220px;
  left: auto;
  margin: 0 auto;
}

.shop_block_list .shop_item .item_describe {
  padding-left: 0;
}

.shop_block_list .item_describe .button {
  float: none;
  margin: 0 auto;
}

.shop_block_list .shop_item .item_price {
  display: block;
  text-align: center;
}

.shop_item:hover .shop_block_img {
   left: auto;
}

.about_teacher .teacher_block .teacher_avatar img, .teachers_portfolio .teacher_block .teacher_avatar img {
  height: auto;
}

.nav_tabs_v1 ul li, .nav_tabs_v2 ul li, .ui_nav_tabs_v2 ul li {
  width: 100%;
}

.ui_shop {
  padding: 0 15px;
}

.single_img_medium_ui .single_img_small .best_price {
  top: auto;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

.about_tabs_content .about_img_content {
  height: 250px;
}

.teacher .item {
  padding: 0;
}

.index_timer {
    font-size: 3rem;
  }

.rates_block .rates_price p {
  font-size: 5.2rem;
}

.about_counter p span {
  font-size: 5rem;
}

.shop_single_item .item_describe .button {
  width: 178px;
  margin-left: 7px;
}

.ui_contact_form input {
  width: 90%;
}

.form-group label {
  width: 90%;
  margin-left: -45%;
}

  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

@media only screen and (min-width: 1600px) {
/**/ 
 }