/***************************
 horizontal parallax start
 ***************************/

#main-container {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  padding: 0%;
}

#container-svg {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 2048px;
  height: 900px;
  overflow: hidden;
  background-color: #8EE4FF;
}

#logo-div {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  overflow: hidden;
  background-color: #FFFFFF;
  z-index: 1000;
}
.logo-img-class{
  position: absolute;
  width: 19.31%;
  height: 50%;
  left: 40.345%;
  top: 25%;
}
#logo-img-kid{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
#logo-img-l{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
#logo-img-h{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
#logo-img-roof{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.heartbeat-anim {
  animation: heartbeat-anim 2.5s 4s infinite;
}
@keyframes heartbeat-anim {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#sky-svg {
  position: absolute;
  top: -5.7%;
  left: 0%;
  height: 62.72;
  width: 100%;
}
#sun-img{
  position: absolute;
  top: 5%;
  left: 80%;
  height: 18%;
  z-index: 1;
}
#cloud-1 {
  position: absolute;
  top: 20.4%;
  left: 27%;
  height: 12%;
  width: 7.4%;
  z-index: 2;
	animation: cloud-1-anim 26.8s linear infinite;
}
@keyframes cloud-1-anim {
    63.8% {left: 110%;}
    63.81% {left: -20%;}
}

#cloud-2 {
  position: absolute;
  top: 4.3%;
  left: 0.5%;
  height: 11.8%;
  width: 7.3%;
  z-index: 2;
	animation: cloud-2-anim 28s linear infinite;
}
@keyframes cloud-2-anim {
    84.2% {left: 110%;}
    84.21% {left: -20%;}
}

#cloud-3 {
  position: absolute;
  top: 7.7%;
  left: 50%;
  height: 12%;
  width: 7.4%;
  z-index: 2;
	animation: cloud-3-anim 25.7s linear infinite;
}
@keyframes cloud-3-anim {
    46.1% {left: 110%;}
    46.11% {left: -20%;}
}

#cloud-4 {
  position: absolute;
  top: 23%;
  left: 73.5%;
  height: 13.8%;
  width: 6.3%;
  z-index: 2;
	animation: cloud-4-anim 26s linear infinite;
}
@keyframes cloud-4-anim {
    28.07% {left: 110%;}
    28.08% {left: -20%;}
}

#cloud-5 {
  position: absolute;
  top: 10.2%;
  left: 95%;
  height: 11.5%;
  width: 7.8%;
  z-index: 2;
	animation: cloud-5-anim 26.5s linear infinite;
}
@keyframes cloud-5-anim {
    11.5% {left: 110%;}
    11.51% {left: -20%;}
}

#hill-svg {
  position: absolute;
  bottom: 1%;
  left: -10%;
  height: 57.7%;
  width: 120%;
  z-index: 3;
}

#stupa-img {
  position: absolute;
  bottom: 44%;
  left: 87%;
  height: 21%;
  z-index: 4;
}
#front-grass {
  position: absolute;
  bottom: 0%;
  left: -50%;
  height: 24%;
  width: 200%;
  background-color: #9CB92D;
  z-index: 10;
}
#mountain-img {
  position: absolute;
  bottom: 28%;
  left: 0%;
  width: 106%;
  z-index: 1;
}

#school-svg {
  position: absolute;
  bottom: 23%;
  left: 36.75%;
  height: 52%;
  width: 26.5%;
  z-index: 12;
}
#road-svg {
  position: absolute;
  bottom: 0%;
  left: -25%;
  height: 24%;
  width: 150%;
  z-index: 11;
}
#flag-svg {
  position: absolute;
  bottom: 20%;
  left: 30%;
  height: 41%;
  /* width: 12.5%; */
  z-index: 14;
  cursor: pointer;
}
#flag-svg > g{
  cursor: pointer;
}
#bus-container {
  position: absolute;
  bottom: 7%;
  left: -40%;
  height: 27.1%;
  width: 21%;
  z-index: 40;
}
#bus-svg {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
}
#wheel-front, #wheel-back{
  position: absolute;
  bottom: 0%;
  height: 39%;
  /* width: 36%; */
  z-index: 1;
}
#wheel-back{
  left: 14.1%;
}
#wheel-front{
  left: 68.2%;
}
.bus-anim{
  animation: bus-anim 10s ease-in-out;
}
@keyframes bus-anim {
    82.30% {left: 160%;}
    82.31% {left: -100%;}
}
.wheel-anim{
  animation: wheel-anim 10s ease-in-out;
}
@keyframes wheel-anim {
    100% {transform: rotate(18000deg);}
}
#kids-svg {
  position: absolute;
  bottom: 17%;
  left: 105%;
  height: 20%;
  width: 25%;
  z-index: 30;
}
#teachers-svg {
  position: absolute;
  bottom: 9%;
  left: 10%;
  height: 25%;
  width: 9%;
  z-index: 30;
}
#temple-img {
  position: absolute;
  bottom: 18%;
  left: 6%;
  height: 30%;
  z-index: 30;
}
#plane-container {
  position: absolute;
  top: 4%;
  left: 30%;
  height: 15.1%;
  width: 50%;
  z-index: 3;
  transform-origin: 78% 63%;
  animation: plane-wiggle 1.5s ease-in-out infinite, plane-anim 20s linear infinite;
}
@keyframes plane-anim {
    0% {left: -55%;}
    100% {left: 125%;}
}
@keyframes plane-wiggle {
    0% {transform: rotate(2deg);}
    50% {transform: rotate(-2deg);}
    100% {transform: rotate(2deg);}
}
#plane-img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

#quote-text {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%) rotate(1.5deg);
  width: 68%;
  text-align: center;
  font-size: 30px;
}
/* trees beginning */
.tree-img {
  position: absolute;
  height: 20%;
  bottom: 40%;
  left: 10%;
  z-index: 5;
}

.tree-1 {
  height: 15%;
  bottom: 33%;
  left: -8%;
}

.tree-2 {
  height: 15%;
  bottom: 33%;
  left: -3%;
}

.tree-3 {
  height: 19%;
  bottom: 28.5%;
  left: 11%;
}

.tree-4 {
  height: 14%;
  bottom: 28.5%;
  left: 17%;
}

.tree-5 {
  height: 19%;
  bottom: 28.5%;
  left: 22%;
}

.tree-6 {
  height: 20%;
  bottom: 28.5%;
  left: 70%;
}

.tree-7 {
  height: 20%;
  bottom: 28.5%;
  left: 78%;
}

.tree-8 {
  height: 16.5%;
  bottom: 37%;
  left: 88%;
}

.tree-9 {
  height: 17%;
  bottom: 36%;
  left: 97%;
}
.tree-10 {
  height: 15%;
  bottom: 31%;
  left: 33%;
  z-index: 11;
}
.tree-11 {
  height: 12.5%;
  bottom: 33.5%;
  left: 38%;
}
.tree-12 {
  height: 14%;
  bottom: 38%;
  left: 44%;
}
.tree-13 {
  height: 12%;
  bottom: 37%;
  left: 50%;
}
.tree-14 {
  height: 14%;
  bottom: 30%;
  left: 56%;
}


/* mid trees */
.tree-15 {
  height: 25.5%;
  bottom: 22%;
  left: 61%;
  z-index: 13;
}

.tree-16 {
  height: 25.5%;
  bottom: 21%;
  left: 73%;
  z-index: 13;
}

.tree-17 {
  height: 28%;
  bottom: 23%;
  left: 100%;
  z-index: 13;
}

.tree-18 {
  height: 29%;
  bottom: 21%;
  left: 5%;
  z-index: 13;
}

/* big trees */
.tree-19 {
  height: 34%;
  bottom: 20%;
  left: -20%;
  z-index: 23;
}
.tree-20 {
  height: 36%;
  bottom: 18%;
  left: -40%;
  z-index: 23;
}
.tree-21 {
  height: 36%;
  bottom: 17%;
  left: 116%;
  z-index: 23;
}
.tree-22 {
  height: 37%;
  bottom: 18%;
  left: 90%;
  z-index: 23;
}
/* trees end */

@font-face {
	font-family: CaveatBrush-Regular;
	src: url('/frontend-assets/fonts/Caveat_Brush/CaveatBrush-Regular.ttf');
}

.slider-header-text{
  font-family: CaveatBrush-Regular;
  text-align: center;
  color: #DB0000;
  margin: 20px auto 80px;
}

#video-drop-down{
  position: absolute;
  top: -100%;
  width: 50%;
  height: 90%;
  left: 25%;
  transition: top 1.5s cubic-bezier(.46,.82,.68,1.18);
}
#balloon-image{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70%;
  height: 40%;
}

#home-video-container{
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 65%;
  background-color: #222;
  border-radius: 2vmin;
  border: 1vw solid #3e3e3e;
}
#home-video-container>iframe{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
#video-close-button{
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 0%;
  color: white;
  width: 5%;
  transform: translate(80%, 50%);
}
#video-close-button:hover{
  transform: scale(1.05) translateX(80%, 50%);
  filter: drop-shadow(0px 0px 3px white);
}

#school-flag {
  position: absolute;
  bottom: 20%;
  left: 62.5%;
  height: 41%;
  /* width: 12.5%; */
  z-index: 14;
  cursor: pointer;
}

#notice-board-container {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 14%;
  left: 80%;
  height: 20.5%;
  width: 12%;
  z-index: 29;
  font-family: boogaloo;
}
#board-img{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.notice-board-text{
  position: absolute;
  bottom: 19.5%;
  right: -23.5%;
  transform-origin: 50% 50%;
  width: 147%;
  height: 101%;
  padding: 10%;
  background-image: url("../../img/frontpage/paper.png");
  background-size: 100% 100%;
  font-size: 2vw;
  transform: scale(0.3);
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice-board-text>p{
  position: relative;
}
.actual-text{
  opacity: 0;
  padding: 10% 25%;
  text-align: center;
}
.notice-text{
  font-size: 5vw;
}
#notice-board-container:hover .actual-text{
  z-index: 100;
  opacity: 1;
  transform: scale(1);
}

#notice-board-container:hover .notice-text{
  opacity: 0;
}

#clock-container>img{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
    transform-origin: center;
}

#clock-container{
  position: absolute;
  display: none;
  z-index: 25;
  left: 48.4%;
  top: 35.7%;
  width: 3.35%;
  height: 7.6%;
}
.disable-mouse{
  pointer-events: none;
}

.blink-click-animation{
  animation: blink-click-animation 4s infinite;
}
@keyframes blink-click-animation {
  30%{filter: none;}
  40%{filter: drop-shadow(0px 0px 0.5vw white) brightness(125%);}
  50%{filter: none;}
  60%{filter: drop-shadow(0px 0px 0.5vw white) brightness(125%);}
  70%{filter: none;}
}
/***************************
 horizontal parallax end
 ***************************/

 /***************************
 slider start
 ***************************/
.transition-parallax-slider{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #cbfe64;
}
#my-slider-section{
  position: relative;
  width: 100%;
  padding-top: 0px;
  background-color: #9cb92d;
  padding: 0;
}

.parallax-in-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #265A05;
}
.slider-parallax-layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.slider-parallax-layer-1{
  height: 95%;
  width: 100%;
}

.transition-layer{
  position: relative;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #265A05, #FFD697);
}
.tranition-div-slider{
    bottom: 0%;
}
.tranition-div-slider>img{
  position: absolute;
  width: 100%;
  bottom: 1%;
  z-index: 5;
}
.parallax-bottom-padding{
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 20%;
  background-color: #265A05;
}


#parent-carausel-container{
  position: absolute;
  top: 2.5%;
  height: 95%;
  left: 2.5%;
  width: 95%;
}




.myCarousel-inner{
  position: absolute;
  width: 90%;
  left: 5%;
  height: 100%;
}

.parent-slider-container{
  position: absolute;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.parent-slider-container>#myCarousel{
  height: 100%;
}
.parent-slider-container .carousel-inner{
  height: 100%;
}
.parent-slider-container .carousel-control{
  background: none !important;
  background-image: none !important;
}

.image-frame-container{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 90%;
  top: 5%;
}
.slider-big-image{
  position: absolute;
  width: 48%;
  top: 0%;
  left: 15%;
  height: 56% !important;
  background-color: white;
  border-radius: 2.3vw;
  border: 1.5vw solid #07A163;
}
.slider-small-image{
  position: absolute;
  width: 24%;
  bottom: 28%;
  height: 34% !important;
  background-color: white;
  border-radius: 2.3vw;
  border: 1.5vw solid #cf1602;
}
.slider-small-image-left{
  border-color: #ffdd00;
  left: 8%;
}
.slider-small-image-right{
  right: 30%;
}
.myCarousel-caption{
  position: absolute;
  z-index: 5;
  bottom: 65%;
  left: 62%;
  width: 26%;
  font-size: 4.5vw;
  text-align: center;
  color: white;
  font-family: boogaloo;
  text-shadow: 2px 2px #000000;
}
.myCarousel-nav{
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: 55%;
  height: 20%;
}
.myCarousel-nav:hover{
  filter: drop-shadow(0px 0px 1vw white);
}
.myCarousel-nav-left{
  right: 1%;
}
.myCarousel-nav-prev{
  left: 1%;
  transform: scaleX(-1);
}

.carousel-item, .carousel-item *{
  display: none;
}

.carousel-item.active, .carousel-item.active *{
  display: block;
}
.customs-slider-image {
  transform: scale(0);
  opacity:0;
}
.carousel-item.active .slider-big-image, .carousel-item.active p{
  animation: carousel-zoom 0.7s ease-in-out both;
}
.carousel-item.active .slider-small-image{
  transform: scale(1);
  opacity: 1;
  animation: carousel-zoom 0.7s ease-in-out both;
  animation-delay: 0.3s;
}
@keyframes carousel-zoom {
  0% {transform: scale(0); opacity:0;}
  80% {transform: scale(1.1);}
  100% {transform: scale(1); opacity: 1;}
}




#about-us-section{
  position: relative;
  width: 100%;
  background-color: #FFD697;
  padding-bottom: 0;
}

.about-us-board{
  margin: 1% 0% 0% 0%;
  padding: 5%;
  font-size: 1.7em;
  background: radial-gradient(#414141, #1d1d1d);
  color: white;
  border: 1.8vw solid #b78240;
  border-radius: 3vmin;
  display: flex;
  align-items: center;
  font-family: walterturncoat;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .about-us-board{
    font-size: 2em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .about-us-board{
      font-size: 2.5em;
    }
}
.hidden-text-for-size{
  opacity: 0;
}
.about-us-text{
  position: absolute;
}
#table-chair-layer{
  position: relative;
  z-index: 100;
  width: 100%;
  height: 30%;
  background: #FFD697;
}
#table-chair-layer>img{
  left: 0%;
  top: 0%;
  position: absolute;
  width: 100%;
}
.parallax-chair{
  top: -10%;
}
.transition-to-facilities-1{
  position: relative;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #75d0f6, #fdf6e6);
}
.transition-to-facilities-2{
  position: relative;
  width: 100%;
  height: 100px;
  background: #fdf6e6;
}
/*********************
 feature css start
 *********************/

#feature-section{
 position: relative;
 overflow: hidden;
 width: 100%;
 /* background: radial-gradient(#024560,#062a3b); */
 background: linear-gradient(to bottom, #217cc0, #75d0f6, #fdf6e6);
}
#feature-container{
}
.feature-section-top-padding{
  position: relative;
  width: 100%;
  height: 25%;
}
.cloud-container-parent{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 600px;
}
.cloud-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.cloud-container{
  position: absolute;
  transform-origin: 50% 5%;
}
.hanger-string{
  position: absolute;
  width: 5px;
  background-color: #DDD;
  filter: drop-shadow(-2px 2px 4px #444);
}
.cloud-hanger-img{
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(-2px 2px 4px #444);
}
.cloud-wrapper>.cloud-tag{
  position: absolute;
  width: 80%;
  z-index: 3;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: pangolin;
}


.cloud-container-1{
  top: 13%;
  width: 65%;
  left: 0%;
  height: 35%;
  transform-origin: 58% -112%;
}
.cloud-container-2{
  top: 45%;
  left: 35%;
  width: 65%;
  height: 35%;
  transform-origin: 58% -272%;
}
.cloud-container-3{
  top: 5%;
  left: 10.5%;
  width: 65%;
  height: 35%;
  transform-origin: 50% -160%;
}
.cloud-container-4{
  top: 45%;
  left: 32%;
  width: 65%;
  height: 35%;
  transform-origin: 50% -60%;
}

.cloud-container-5{
  top: 48%;
  left: 6%;
  width: 70%;
  height: 38%;
  transform-origin: 50% -152%;
}
.cloud-container-6{
  top: 12%;
  width: 67%;
  left: 30%;
  height: 36%;
  transform-origin: 58% -248%;
  z-index: 1;
}

.cloud-container-7{
  top: 46%;
  left: 10%;
  width: 65%;
  height: 35%;
  transform-origin: 58% -320%;
  z-index: 5;
}
.cloud-container-8{
  top: 10%;
  left: 30%;
  width: 70%;
  height: 34%;
  transform-origin: 58% -320%;
}

.rot-anim {
  animation: rot-anim 5s 2s infinite;
}
@keyframes rot-anim {
  0% {transform:  rotate(6deg);}
  5% {transform: rotate(-9deg);}
  10% {transform: rotate(9deg);}
  15% {transform: rotate(-6deg);}
  50% {transform: rotate(3deg);}
}

.drop-animation-1 {
  z-index: 1;
  animation: drop-animation-1 2.5s linear both;
}
@keyframes drop-animation-1 {
  0% {transform: translateY(400%);}
  90% {transform: translateY(-10%);}
  95% {transform: translateY(5%);}
  1000% {transform: translateY(0%);}
}

.drop-animation-2 {
  z-index: 2;
  animation: drop-animation-2 2.5s linear both;
}
@keyframes drop-animation-2 {
  0% {transform: translateY(300%);}
  75% {transform: translateY(-9%);}
  85% {transform: translateY(-3.5%);}
  100% {transform: translateY(0%);}
}
.drop-animation-3 {
  z-index: 3;
  animation: drop-animation-3 2.5s linear both;
}
@keyframes drop-animation-3 {
  0% {transform: translateY(200%);}
  45% {transform: translateY(0%);}
  60% {transform: translateY(10%);}
  70% {transform: translateY(-10%);}
  80% {transform: translateY(8%);}
  80% {transform: translateY(-4%);}
  100% {transform: translateY(0%);}
}

.drop-animation-4 {
  z-index: 4;
  animation: drop-animation-4 2.5s linear both;
}
@keyframes drop-animation-4 {
  0% {transform: translateY(100%);}
  30% {transform: translateY(-10%);}
  40% {transform: translateY(5%);}
  60% {transform: translateY(-3.5%);}
  80% {transform: translateY(5%);}
  100% {transform: translateY(0%);}
}
@keyframes drop-animation-0 {
  0% {transform: translateY(100%);}
  60% {transform: translateY(-10%);}
  80% {transform: translateY(5%);}
  100% {transform: translateY(0%);}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .feature-img-bg{
    background-size: 35%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .feature-img-bg{
    background-size: 20%;
  }
  .cloud-container-3{
    transform-origin: 50% -40%;
  }
  .drop-animation-1 {
    animation: drop-animation-0 1s 0s ease-in-out both;
  }
  .drop-animation-2 {
    animation: drop-animation-0 1s 0s ease-in-out both;
  }
  .drop-animation-3 {
    animation: drop-animation-0 1s 0s ease-in-out both;
  }
  .drop-animation-4 {
    animation: drop-animation-0 1s 0s ease-in-out both;
  }
}

.cloud-wrapper:hover{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-name:jello;
  animation-name:jello;
  -webkit-transform-origin:center;
  transform-origin:center
}

#facilities-section{
  position: relative;
  background-color: #fdf6e6;
  background-image: url("../../img/frontpage/facilities/pattern.png");
  background-repeat: repeat;
  background-position: left top;
}


/*...............................
 cards facilites
 ................................ */

.card-container {
  /* background-color: #BBF; */
}
.card-list{
  width: 80%;
}
.card-container {
  overflow: hidden;
  padding: 3em;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card-container .card-list .card-body {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  padding: 1em;
  margin: 1em 0em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

.card-container .card-list {
  margin: 1em;
  float: left;
}

.card-container .card-list *{
  position: relative;
}
.card-container .card-list img {
  width: 90%;
  left: 5%;
}

.card-container .card-list p {
  font-family: Pangolin;font-size: 3rem;
  color: #4b4b4b;
  text-align: center;
}

.card-container .card-list .card-body {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.card-container .card-list:nth-child(even) .card-body {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}

.card-container .card-list:nth-child(3n) .card-body {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}

.card-container .card-list:nth-child(5n) .card-body {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

.card-container .card-list .card-body:hover, .card-container .card-list .card-body:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  position: relative;
  z-index: 5;
}

.card-list .card-body {
  color: #fff;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .card-list{
    width: 40%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .card-list{
    width: 30%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .card-list{
    width: 300px;
  }
}




/* fonts */
@font-face {
	font-family: boogaloo;
	src: url('../../fonts/Boogaloo/Boogaloo-Regular.ttf');
}
@font-face {
	font-family: walterturncoat;
	src: url('../../fonts/WalterTurncoat-Regular.ttf');
}
@font-face {
	font-family: pangolin;
	src: url('../../fonts/Pangolin-Regular.ttf');
}
